// -------------------------------
//     HEADER
// -------------------------------
.header {
	position: fixed;
	background: #fff;
	z-index: 999;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	width: 100%;
}
.header__inner {
	position: relative;
}
.header__logo {
	padding: 0.5rem;
	transition: $transition;
}
.languages {
	cursor: pointer;
}
.language:hover, .language__link:hover {
	color: $base__orange;
}
.slash {
	margin-left: 1rem;
}
.fixed--mobile {
	position: absolute;
	top: 1.3rem;
	right: 2rem;
	display: flex;
	align-items: flex-start;
	transition: $transition;
}
.header__social-icons, .languages {
	margin-top: 1rem;
}
.header__nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	line-height: 2rem;
	display: none;
}
.header__social-icons, .languages {
	display: flex;
}
.header__link {
	margin-left: 1.3rem;
	cursor: pointer;
	transition: $transition;
	&:hover {
		color: $base__orange;
	}
}
.header__icon {
	transition: $transition;
	&:hover {
		color: $base__orange;
	}
}
.header__icon, .language {
	margin-left: 1rem;
}
.menu {
  width: 45px;
  height: 55px;
  position: relative;
  margin-left: 1.5rem;
}
.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: $medium__grey;
  transition: 0.2s ease-in-out;
}
.one {
  top: 5%;
}
.two {
  top: 35%;
  transition: .3s ease-in-out;
}
.three {
  top: 65%;
}
.menu.open {
	.line {
		background: $base__orange;
	}
	.one {
	  transform:rotate(45deg);
	  top: 35%;
	}
	.two {
	  background: transparent;
	}
	.three {
	  transform:rotate(-45deg);
	  top: 35%;
	}
}

