// -------------------------------
//     MEYER RESET
// -------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// -------------------------------
//     COLOR VARIABLES
// -------------------------------

$base__orange: #E18712;
$base__grey: #191717;

$light__orange: #F6B229;
$dark__grey: #252527;
$medium__grey: #4A4A4A;

$light__grey: #f2f2f2;

// -------------------------------
//     GENERAL STYLES
// -------------------------------
$transition: 0.3s ease-in-out;

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-weight: 400;
	transition: $transition;
}
h1 {
	font-size: 2.6rem;
}
ul {
	list-style-type: none;
}
p, li, button, a {
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: #000;
}
.logo {
	height: 5rem;
}
.icon {
	height: 2.5rem;
	font-size: 2.5rem;
	color: $medium__grey;
	cursor: pointer;
	transition: $transition;
	&:hover {
		color: $base__orange;
	}
}
.section__title {
	margin: 1rem 2rem;
	font-size: 2rem;
	position: relative;
	display: inline-block;
	padding: 0.9rem;
	border-top: 1px solid rgba(202, 201, 201, 0.6);
	border-bottom: 1px solid rgba(202, 201, 201, 0.6);
}
.orange {
	color: $base__orange;
}
.bold {
	font-weight: 600;
}
.main {
	text-align: center;
}
.button {
	text-align: center;
	border: 2px solid $base__orange;
	width: 10rem;
	background: none;
	font-weight: 300;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	cursor: pointer;
	transition: $transition;
	&:hover {
		background: $base__orange;
		color: white;
	}
}

// -------------------------------
//     DARK MODE ST
// -------------------------------
body.dark {
	background: $base__grey;
	.header {
		background: #191717;
	}
	ul, li, i, h1, h2, h3, h4, p, button, a {
		color: #fff;
	}
	.header__nav.open {
		background: $base__grey;
	}
	.website-title {
		color: $base__orange;
	}
	.tile {
		background: #1d1e22;
	}
	.tile__title {
		color: $base__orange;
		margin-bottom: 1.3rem;
	}
	.odd-project, #toolkit {
		background: $dark__grey;
	}
	.tool__title {
		color: $base__orange;
	}
	.small-footer {
		background: $dark__grey;
	}
}
