// // -------------------------------
// //     MEDIA QUERIES
// // -------------------------------
@media screen and (max-width: 580px) {
	// portfolio section
	.column {
		width: 100%;
		text-align: center;
		align-items: center;
	}
	.website-tech {
		margin-top: 1rem;
	}
	.date {
		margin-top: 1rem;
	}
}
@media screen and (max-width:  816px) {
	#map {
		width: 90%;
	}
}
@media screen and (min-width: 855px) {
	//about section
	@supports (display: grid) {
		.single-course__wrapper {
			display: grid;
			grid-template-columns: 1fr 4fr;
		}
		.reverted {
			grid-template-columns: 4fr 1fr;
		}
		.full-date__reverted {
			grid-column: 2/3;
			grid-row: 1/2; 
		}
	}
	.full-date {
	flex-direction: column;
	}
}
@media screen and (min-width: 1230px) {
	//header
	.language__link, .language, .header__link {
		font-size: 1.2rem;
	}
	.header__social-icons, .languages {
		margin-top: 0;
	}
	.header__social-icons {
		margin-left: 5rem;
	}
	.header__nav, .header__list {
		display: flex;
		flex-direction: row;
		// border: 3px dotted fuchsia;
	}
	.header__nav {
		display: flex;
		width: 80vw;
		justify-content: space-evenly;
		align-items: flex-start;
	}
	.header__inner {
		display: flex;
	}
	.header__logo {
		margin-left: 3rem;
	}
	.bulb {
		margin-right: 3rem;
	}
	.fa-bars {
		display: none !important;
	}
	// portfolio section
	.column1 {
		width: 55%; 
	}
	.mockup {
		max-width: 95%;
		height: 20rem;
	}
	.portfolio-project-inner {
		max-width: 1400px;
		display: flex;
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	.odd {
		order: 1;
	}
}