// // -------------------------------
// //     MEDIA QUERIES
// // -------------------------------
@media screen and (max-width: 580px) {
	// portfolio section
	.column {
		width: 100%;
		text-align: center;
		align-items: center;
	}
	.website-tech {
		margin-top: 1rem;
	}
	.date {
		margin-top: 1rem;
	}
}
@media screen and (max-width:  816px) {
	#map {
		width: 80%;
	}
}
@media screen and (min-width: 855px) {
	//about section
	@supports (display: grid) {
		.single-course__wrapper {
			display: grid;
			grid-template-columns: 1fr 4fr;
		}
		.reverted {
			grid-template-columns: 4fr 1fr;
		}
		.full-date__reverted {
			grid-column: 2/3;
			grid-row: 1/2; 
		}
	}
	.full-date {
	flex-direction: column;
	}
	//about me
	.about__tiles {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3rem;
		max-width: 1150px;
	}
}
@media screen and (max-width: 1229px) {
	.header__nav.open {
		display: flex;
		padding-bottom: 5rem;
		padding-top: 2rem;
		background: #fff;
		.header__link, .language-pl {
			margin-left: 0;
		}
		.header__social-icons {
			margin-left: -1rem;
		}
		.header__item:last-child {
			border-bottom: 2px solid rgba(225, 135, 18, 0.5);
			padding-bottom: 1rem;
			margin-bottom: 0.5rem;
		}
	}
}
@media screen and (min-width: 1230px) {
	//header
	.language__link, .language, .header__link {
		font-size: 1.2rem;
	}
	.header__social-icons, .languages {
		margin-top: 0;
	}
	.header__social-icons {
		margin-left: 5rem;
	}
	.header__nav, .header__list {
		display: flex;
		flex-direction: row;
	}
	.header__nav {
		display: flex;
		width: 80vw;
		justify-content: space-evenly;
		align-items: center;
	}
	.header__inner {
		display: flex;
	}
	.header__logo {
		margin-left: 3rem;
	}
	.bulb {
		margin-right: 3rem;
	}
	.menu {
		display: none !important;
	}
	// portfolio section
	.column1 {
		width: 55%; 
	}
	.mockup {
		max-width: 95%;
		width: auto;
		height: 20rem;
	}
	.portfolio-project-inner {
		max-width: 1400px;
		display: flex;
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	.odd {
		order: 1;
	}
}