html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 400;
  transition: 0.3s ease-in-out; }

h1 {
  font-size: 2.6rem; }

ul {
  list-style-type: none; }

p, li, button, a {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: #000; }

.logo {
  height: 4.5rem; }

.icon {
  height: 2.5rem;
  font-size: 2.5rem;
  color: #4A4A4A; }

.section__title {
  margin: 1rem 2rem;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding: 0.9rem;
  border-top: 1px solid rgba(202, 201, 201, 0.6);
  border-bottom: 1px solid rgba(202, 201, 201, 0.6); }

.orange {
  color: #E18712; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.main {
  text-align: center; }

.button {
  text-align: center;
  border: 2px solid #E18712;
  width: 10rem;
  background: none;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .button:hover {
    background: #E18712;
    color: white; }

body.dark {
  background: #191717; }
  body.dark .header {
    background: #191717;
    box-shadow: 0 3px 2px -2px rgba(235, 235, 235, 0.2); }
  body.dark .line {
    background: #fff; }
  body.dark ul, body.dark li, body.dark i, body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark p, body.dark button, body.dark a {
    color: #fff; }
  body.dark .header__nav.open {
    background: #191717; }
  body.dark .website-title {
    color: #E18712; }
  body.dark .tile {
    background: #1d1e22; }
  body.dark .tile__title {
    color: #E18712;
    margin-bottom: 1.3rem; }
  body.dark .odd-project, body.dark #toolkit {
    background: #252527; }
  body.dark .tool__title {
    color: #E18712; }
  body.dark .small-footer {
    background: #252527; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

#footer {
  font-weight: 300; }

.footer__inner {
  max-width: 1300px;
  margin: 3rem auto 2rem auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.footer__icons {
  display: flex; }

.linkedin--footer, .github--footer {
  transition: 0.3s ease-in-out; }
  .linkedin--footer:hover, .github--footer:hover {
    color: #E18712; }

.footer__column {
  margin-top: 2rem; }

.company-column {
  flex-direction: row; }

.footer__company-name {
  font-size: 1.7rem;
  margin-left: 1rem; }

.linkedin--footer {
  margin-left: 1.3rem; }

.social-column, .dev-column {
  line-height: 1.7rem; }
  .social-column:after, .dev-column:after {
    content: "";
    height: 60px;
    width: 2px;
    background: #F6B229;
    position: absolute;
    left: 0; }

.footer__company-details p {
  font-size: 1.1rem; }

.dev__position {
  font-weight: 400; }

.small-footer {
  display: flex;
  justify-content: center;
  background: #f6f5f5;
  padding: 1rem; }
  .small-footer p {
    font-size: 0.9rem; }

#map {
  height: 15rem;
  width: 60%;
  filter: grayscale(100);
  margin: 1rem;
  margin-top: 3rem; }

.header {
  position: fixed;
  background: #fff;
  z-index: 999;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  width: 100%; }

.header__inner {
  position: relative; }

.header__logo {
  padding: 0.5rem;
  transition: 0.3s ease-in-out; }

.languages {
  cursor: pointer; }

.language:hover, .language__link:hover {
  color: #E18712; }

.slash {
  margin-left: 1rem; }

.fixed--mobile {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  display: flex;
  align-items: flex-start;
  transition: 0.3s ease-in-out; }

.header__social-icons, .languages {
  margin-top: 1rem; }

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 2rem;
  display: none; }

.header__social-icons, .languages {
  display: flex; }

.header__link {
  margin-left: 1.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .header__link:hover {
    color: #E18712; }

.header__icon {
  transition: 0.3s ease-in-out; }
  .header__icon:hover {
    color: #E18712; }

.header__icon, .language {
  margin-left: 1rem; }

.menu {
  width: 45px;
  height: 55px;
  position: relative;
  margin-left: 1.5rem; }

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4A4A4A;
  transition: 0.2s ease-in-out; }

.one {
  top: 5%; }

.two {
  top: 35%;
  transition: .3s ease-in-out; }

.three {
  top: 65%; }

.menu.open .line {
  background: #E18712; }

.menu.open .one {
  transform: rotate(45deg);
  top: 35%; }

.menu.open .two {
  background: transparent; }

.menu.open .three {
  transform: rotate(-45deg);
  top: 35%; }

#about {
  margin: 4rem 1rem auto 1rem; }

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.monika__img {
  background-image: url("../assets/monika-img.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem; }

.about__tile {
  margin: 2rem auto;
  border-radius: 10px; }
  .about__tile h4 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.about__tile--one {
  border: 2px solid #E18712; }
  .about__tile--one h4 {
    background: #E18712; }

.about__tile--two {
  border: 2px solid #252527; }
  .about__tile--two h4 {
    background: #252527; }

.about__tile--three {
  border: 2px solid #4A4A4A; }
  .about__tile--three h4 {
    background: #4A4A4A; }

.about__tile__title {
  background: #E18712;
  font-weight: 600;
  color: #fff;
  padding: 1rem; }

.about__tile__text {
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 1rem; }

.blog__link {
  font-weight: 600;
  color: #E18712; }

.single-course__wrapper {
  max-width: 900px;
  margin: 2rem auto 1rem auto; }

.full-date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }

.full-date__month {
  font-weight: 500;
  font-size: 5rem; }

.full-date__year {
  font-size: 2rem;
  padding: 0.7rem; }

.tile__title {
  color: #E18712;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.tile {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #f6f5f5;
  padding: 2rem 4rem;
  position: relative;
  line-height: 1.6rem; }
  .tile::before {
    content: "";
    background: #F6B229;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 4rem;
    display: inline; }

.tile--odd::before {
  left: -15px; }

.tile--even::before {
  right: -15px; }

.course-type {
  font-style: italic;
  margin-top: 1rem; }

.fold {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 60vh;
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fold__text {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column; }

.button--fold {
  width: 11rem;
  margin-top: 1.5rem; }

.portfolio__title {
  margin-top: 4rem;
  margin-bottom: 3rem; }

.portfolio-project {
  padding: 3rem 0.5rem; }

.portfolio-project-inner {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%; }
  .portfolio-project-inner ul {
    list-style-type: none; }

.mockup {
  width: 80%; }

.odd-project {
  background: #f6f5f5; }

.website-title {
  color: #E18712;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 400; }

.website-subtitle, .website-tech {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.portfolio-project__text {
  display: flex;
  justify-content: space-around;
  margin: auto 2rem;
  flex-wrap: wrap; }

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.code-ref, .web-ref {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }

.icon-web {
  font-size: 2.3rem;
  margin-right: 1rem; }

.github-portfolio {
  font-size: 2.5rem;
  margin-right: 1rem; }

.icon-web {
  font-size: 2.2rem; }

.date {
  font-style: italic; }

.tech__list {
  position: relative;
  line-height: 1.5rem; }

#toolkit {
  background: #f6f5f5;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.tool__logo {
  height: 5.5rem; }

.toolkit__title {
  margin-bottom: 4rem; }

.tool__title {
  font-size: 1.4rem;
  color: #E18712;
  margin-bottom: 1rem; }

@supports (display: grid) {
  .toolkit__wrapper {
    display: grid;
    max-width: 930px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem; } }

@supports not (display: grid) {
  .toolkit__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    width: 100%; }
  .tool {
    width: 10rem; }
  .tool__logo {
    margin-bottom: 2rem; } }

@media screen and (max-width: 580px) {
  h1 {
    font-size: 2rem; }
  .about__tile__text {
    font-size: 0.9rem; }
  .section__title {
    font-size: 1.7rem; }
  .column {
    width: 100%;
    text-align: center;
    align-items: center; }
  .website-tech {
    margin-top: 1rem; }
  .date {
    margin-top: 1rem; } }

@media screen and (max-width: 816px) {
  #map {
    width: 80%; } }

@media screen and (min-width: 855px) {
  @supports (display: grid) {
    .single-course__wrapper {
      display: grid;
      grid-template-columns: 1fr 4fr; }
    .reverted {
      grid-template-columns: 4fr 1fr; }
    .full-date__reverted {
      grid-column: 2/3;
      grid-row: 1/2; } }
  .full-date {
    flex-direction: column; }
  .about__tiles {
    display: flex;
    max-width: 1200px; }
  .about__tile {
    width: 30%; } }

@media screen and (max-width: 1229px) {
  .header.scroll .header__logo {
    height: 3rem;
    padding-boom: 0.3rem; }
  .header.scroll .fixed--mobile {
    top: 1rem; }
  .header__logo {
    height: 4rem;
    margin: 0.3rem auto auto 1rem; }
  .header__nav.open {
    display: flex;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background: #fff; }
    .header__nav.open .header__link, .header__nav.open .language-pl {
      margin-left: 0; }
    .header__nav.open .header__social-icons {
      margin-left: -1rem; }
    .header__nav.open .header__item:last-child {
      border-bottom: 2px solid rgba(225, 135, 18, 0.5);
      padding-bottom: 1rem;
      margin-bottom: 0.5rem; } }

@media screen and (min-width: 1230px) {
  .header.scroll .header__logo {
    height: 4rem; }
  .header.scroll .bulb {
    margin-top: -0.3rem; }
  .language__link, .language, .header__link {
    font-size: 1.2rem; }
  .header__social-icons, .languages {
    margin-top: 0; }
  .header__social-icons {
    margin-left: 5rem; }
  .header__nav, .header__list {
    display: flex;
    flex-direction: row; }
  .header__nav {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center; }
  .header__inner {
    display: flex; }
  .header__logo {
    margin-left: 3rem; }
  .bulb {
    margin-right: 3rem; }
  .menu {
    display: none !important; }
  .column1 {
    width: 55%; }
  .mockup {
    max-width: 95%;
    width: auto;
    height: 20rem; }
  .portfolio-project-inner {
    max-width: 1400px;
    display: flex; }
    .portfolio-project-inner:not(:last-child) {
      margin-bottom: 3rem; }
  .odd {
    order: 1; } }
