html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 400;
  transition: 0.3s ease-in-out; }

h1 {
  font-size: 2.6rem; }

ul {
  list-style-type: none; }

p, li, button, a {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: #000; }

.logo {
  height: 5rem; }

.icon {
  height: 2.5rem;
  font-size: 2.5rem;
  color: #4A4A4A;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .icon:hover {
    color: #E18712; }

.section__title {
  margin: 1rem 2rem;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding: 0.9rem;
  border-top: 1px solid rgba(202, 201, 201, 0.6);
  border-bottom: 1px solid rgba(202, 201, 201, 0.6); }

.orange {
  color: #E18712; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.main {
  text-align: center; }

.button {
  text-align: center;
  border: 2px solid #E18712;
  width: 10rem;
  background: none;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .button:hover {
    background: #E18712;
    color: white; }

body.dark {
  background: #191717; }
  body.dark .header {
    background: #191717; }
  body.dark .line {
    background: #fff; }
  body.dark ul, body.dark li, body.dark i, body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark p, body.dark button, body.dark a {
    color: #fff; }
  body.dark .header__nav.open {
    background: #191717; }
  body.dark .website-title {
    color: #E18712; }
  body.dark .tile {
    background: #1d1e22; }
  body.dark .tile__title {
    color: #E18712;
    margin-bottom: 1.3rem; }
  body.dark .odd-project, body.dark #toolkit {
    background: #252527; }
  body.dark .tool__title {
    color: #E18712; }
  body.dark .small-footer {
    background: #252527; }

#footer {
  font-weight: 300; }

.footer__inner {
  max-width: 1300px;
  margin: 3rem auto 2rem auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.footer__icons {
  display: flex; }

.footer__column {
  margin-top: 2rem; }

.company-column {
  flex-direction: row; }

.footer__company-name {
  font-size: 1.7rem;
  margin-left: 1rem; }

.linkedin--footer {
  margin-left: 1.3rem; }

.social-column, .dev-column {
  line-height: 1.7rem; }
  .social-column:after, .dev-column:after {
    content: "";
    height: 60px;
    width: 2px;
    background: #F6B229;
    position: absolute;
    left: 0; }

.footer__company-details p {
  font-size: 1.1rem; }

.dev__position {
  font-weight: 400; }

.small-footer {
  display: flex;
  justify-content: center;
  background: #f6f5f5;
  padding: 1rem; }
  .small-footer p {
    font-size: 0.9rem; }

#map {
  height: 15rem;
  width: 60%;
  filter: grayscale(100);
  margin: 1rem;
  margin-top: 3rem; }

.header {
  position: fixed;
  background: #fff;
  z-index: 999; }

.header__inner {
  position: relative;
  width: 100vw; }

.header__logo {
  padding: 1rem;
  transition: 0.3s ease-in-out; }

.languages {
  cursor: pointer; }

.language:hover, .language__link:hover {
  color: #E18712; }

.slash {
  margin-left: 1rem; }

.fixed--mobile {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: flex-start; }

.header__social-icons, .languages {
  margin-top: 1rem; }

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 2rem;
  display: none; }

.header__social-icons, .languages {
  display: flex; }

.header__link {
  margin-left: 1.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .header__link:hover {
    color: #E18712; }

.header__icon, .language {
  margin-left: 1rem; }

.menu {
  width: 50px;
  height: 60px;
  position: relative;
  margin-left: 1.5rem; }

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4A4A4A;
  transition: 0.2s ease-in-out; }

.one {
  top: 5%; }

.two {
  top: 35%;
  transition: .3s ease-in-out; }

.three {
  top: 65%; }

.menu.open .line {
  background: #E18712; }

.menu.open .one {
  transform: rotate(45deg);
  top: 35%; }

.menu.open .two {
  background: transparent; }

.menu.open .three {
  transform: rotate(-45deg);
  top: 35%; }

.menu.open
header.scroll .header__logo {
  height: 4rem; }

#about {
  max-width: 90vw;
  margin: 4rem auto auto auto; }

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.monika__img {
  background-image: url("../assets/monika-img.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem; }

.about__tile {
  margin: 2rem auto;
  border-radius: 10px; }

.about__tile--one {
  border: 2px solid #E18712; }
  .about__tile--one h4 {
    background: #E18712; }

.about__tile--two {
  border: 2px solid #252527; }
  .about__tile--two h4 {
    background: #252527; }

.about__tile--three {
  border: 2px solid #4A4A4A; }
  .about__tile--three h4 {
    background: #4A4A4A; }

.about__tile__title {
  background: #E18712;
  font-weight: 600;
  color: #fff;
  padding: 1rem; }

.about__tile__text {
  line-height: 1.7rem;
  padding: 1rem; }

.blog__link {
  font-weight: 600;
  color: #E18712; }

.single-course__wrapper {
  max-width: 900px;
  margin: 2rem auto 1rem auto; }

.full-date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }

.full-date__month {
  font-weight: 500;
  font-size: 5rem; }

.full-date__year {
  font-size: 2rem;
  padding: 0.7rem; }

.tile__title {
  color: #E18712;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.tile {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #f6f5f5;
  padding: 2rem 4rem;
  position: relative;
  line-height: 1.6rem; }
  .tile::before {
    content: "";
    background: #F6B229;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 4rem;
    display: inline; }

.tile--odd::before {
  left: -15px; }

.tile--even::before {
  right: -15px; }

.course-type {
  font-style: italic;
  margin-top: 1rem; }

.fold {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 60vh;
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fold__text {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column; }

.button--fold {
  width: 11rem;
  margin-top: 1.5rem; }

.portfolio__title {
  margin-top: 4rem;
  margin-bottom: 3rem; }

.portfolio-project {
  padding: 3rem 0.5rem; }

.portfolio-project-inner {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%; }
  .portfolio-project-inner ul {
    list-style-type: none; }

.mockup {
  width: 80%; }

.odd-project {
  background: #f6f5f5; }

.website-title {
  color: #E18712;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 400; }

.website-subtitle, .website-tech {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1rem; }

.portfolio-project__text {
  display: flex;
  justify-content: space-around;
  margin: auto 2rem;
  flex-wrap: wrap; }

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.code-ref, .web-ref {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }

.icon-web {
  font-size: 2.3rem;
  margin-right: 1rem; }

.github-portfolio {
  font-size: 2.5rem;
  margin-right: 1rem; }

.icon-web {
  font-size: 2.2rem; }

.date {
  font-style: italic; }

.tech__list {
  position: relative;
  line-height: 1.5rem; }

#toolkit {
  background: #f6f5f5;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.tool__logo {
  height: 5.5rem; }

.toolkit__title {
  margin-bottom: 4rem; }

.tool__title {
  font-size: 1.4rem;
  color: #E18712;
  margin-bottom: 1rem; }

@supports (display: grid) {
  .toolkit__wrapper {
    display: grid;
    max-width: 930px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem; } }

@supports not (display: grid) {
  .toolkit__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    width: 100%; }
  .tool {
    width: 10rem; }
  .tool__logo {
    margin-bottom: 2rem; } }

@media screen and (max-width: 580px) {
  .column {
    width: 100%;
    text-align: center;
    align-items: center; }
  .website-tech {
    margin-top: 1rem; }
  .date {
    margin-top: 1rem; } }

@media screen and (max-width: 816px) {
  #map {
    width: 80%; } }

@media screen and (min-width: 855px) {
  @supports (display: grid) {
    .single-course__wrapper {
      display: grid;
      grid-template-columns: 1fr 4fr; }
    .reverted {
      grid-template-columns: 4fr 1fr; }
    .full-date__reverted {
      grid-column: 2/3;
      grid-row: 1/2; } }
  .full-date {
    flex-direction: column; }
  .about__tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    max-width: 1150px; } }

@media screen and (max-width: 1229px) {
  .header__nav.open {
    display: flex;
    padding-bottom: 5rem;
    padding-top: 2rem;
    background: #fff; }
    .header__nav.open .header__link, .header__nav.open .language-pl {
      margin-left: 0; }
    .header__nav.open .header__social-icons {
      margin-left: -1rem; }
    .header__nav.open .header__item:last-child {
      border-bottom: 2px solid rgba(225, 135, 18, 0.5);
      padding-bottom: 1rem;
      margin-bottom: 0.5rem; } }

@media screen and (min-width: 1230px) {
  .language__link, .language, .header__link {
    font-size: 1.2rem; }
  .header__social-icons, .languages {
    margin-top: 0; }
  .header__social-icons {
    margin-left: 5rem; }
  .header__nav, .header__list {
    display: flex;
    flex-direction: row; }
  .header__nav {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center; }
  .header__inner {
    display: flex; }
  .header__logo {
    margin-left: 3rem; }
  .bulb {
    margin-right: 3rem; }
  .menu {
    display: none !important; }
  .column1 {
    width: 55%; }
  .mockup {
    max-width: 95%;
    width: auto;
    height: 20rem; }
  .portfolio-project-inner {
    max-width: 1400px;
    display: flex; }
    .portfolio-project-inner:not(:last-child) {
      margin-bottom: 3rem; }
  .odd {
    order: 1; } }
