// -------------------------------
//     ABOUT SECTION
// -------------------------------
#about {
	margin: 4rem 1rem auto 1rem;
}
//about me
.about-me__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.monika__img {
	background-image: url("../assets/monika-img.jpg");
	background-size: cover;
	border-radius: 50%;
	height: 8rem;
	width: 8rem;
	margin-top: 2rem;
}
.about__tile {
	margin: 2rem auto;
	border-radius: 10px;
	h4 {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}
.about__tile--one {
	border: 2px solid $base__orange;
	h4 {
		background: $base__orange;
	}
}
.about__tile--two {
	border: 2px solid $dark__grey;
	h4 {
		background: $dark__grey;
	}
}
.about__tile--three {
	border: 2px solid $medium__grey;
	h4 {
		background: $medium__grey;
	}
}
.about__tile__title {
	background: $base__orange;
	font-weight: 600;
	color: #fff;
	padding: 1rem;
}
.about__tile__text {
	font-size: 1rem;
	line-height: 1.7rem;
	padding: 1rem;
}
.about__link {
	font-weight: 600;
	color: $base__orange;
}
// courses
.single-course__wrapper {
	max-width: 900px;
	margin: 2rem auto 1rem auto;
}
.full-date {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.full-date__month {
	font-weight: 500;
	font-size: 5rem;
}
.full-date__year {
	font-size: 2rem;
	padding: 0.7rem;
}
.tile__title {
	color: $base__orange;
	font-weight: 400;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.tile {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background: $light__grey;
	padding: 2rem 4rem;
	position: relative;
	line-height: 1.6rem;
	&::before {
		content: "";
		background: $light__orange;
		height: 30px;
		width: 60px;
		position: absolute;
		top: 4rem;
		display: inline;
	}
}
.tile--odd {
	&::before {
		left: -15px;
	}
}
.tile--even {
	&::before {
		right: -15px;
	}
}
.course-type {
	font-style: italic;
	margin-top: 1rem;
}