
// -------------------------------
//     FOLD SECTION
// -------------------------------
.fold {
	display: flex;
	flex-wrap: wrap;
	margin: 0rem auto;
	justify-content: space-around;
	align-items: center;
	padding-top: 10rem;
	padding-bottom: 10rem;
	height: 60vh;
	background-image: url("../assets/city.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.fold__text {
	margin-top: -15rem;
	display: flex;
	flex-direction: column;
}
.button--fold {
	width: 11rem;
	margin-top: 1.5rem;
}